<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Cars</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-3 pb-3" style="background-color: #e9e6e6">
        <div class="row">     
            <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                LOCATION
            </div>
            <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objstate of state">
                        <td>
                            {{objstate.StateName}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                BRAND
            </div>
           <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objcarbrand of carbrand">
                        <td>
                            {{objcarbrand.CarBrandName}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                BUDGET
            </div>
            <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objcarbudget of carbudget">
                        <td>
                            {{objcarbudget.CarBudget}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                KM DRIVEN
            </div>
            <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objcarkmdriven of carkmdriven">
                        <td>
                            {{objcarkmdriven.CarKMDriven}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                NO. OF OWNERS
            </div>
            <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objcarnoofowner of carnoofowner">
                        <td>
                            {{objcarnoofowner.CarNoOfOwnerType}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
             <div class="col-11 mx-auto mt-1 text-white text-start pt-1 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
                FUEL
            </div>
            <div class="row">
                <table class="table">
                <tbody>
                    <tr *ngFor="let objcarfuel of carfuel">
                        <td>
                            {{objcarfuel.CarFuelType}}
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>